<.flash_group flash={@flash} />

<main class="p-5 md:w-1/2 my-auto md:mx-auto">
  <form class="flex flex-col gap-4">
    <input type="text" placeholder={gettext("Type your nickname")} class="bg-gray-100 rounded-xl p-5 text-gray-700 placeholder:text-gray-700" />
    <button class="bg-blue-500 rounded-xl p-5 text-gray-100 font-medium">{gettext("Start new room")}</button>
  </form>
</main>